altair==4.2.2
Babel==2.12.1
gitdb==4.0.10
GitPython==3.1.31
importlib-metadata==5.1.0
importlib-resources==5.10.1
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.5.0
jupyter_client==7.4.8
jupyter_core==5.1.0
jupyter_server==2.0.0
jupyter_server_terminals==0.4.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.4
matplotlib @ file:///D:/bld/matplotlib-suite_1667505124848/work
matplotlib-inline==0.1.6
matplotlib==3.7.1
numpy @ file:///D:/bld/numpy_1668919236258/work
pandas @ file:///D:/bld/pandas_1669134777944/work
pydeck==0.8.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
requests-oauthlib==1.3.1
streamlit==1.19.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.28.0
zipp==3.11.0
